a { // React Router's <Link> tag use <a> tags.
    text-decoration: none;
}

.textContent {
    margin-top: 7vh;
    align-items: center;
}

.mainText {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    color: white;
}

.subText {
    margin-top: 5vh;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: white;
}

.createEventContent {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createEventButton { // !important allows for overriding RoundedButton's preset CSS.
    padding: 1rem !important;
    font-weight: 700 !important;
    background: linear-gradient(107.04deg, #06D6A0 48.99%, #5794F7 118.32%) !important;
}